DATABASE_URL="postgresql://postgres:[YOUR-PASSWORD]@db.lxnatipnrnubwauyxqfl.supabase.co:5432/postgres"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="sb_publishable_zGoN-Usfd4Zadl2PddgNsA_XVMKbck4"
DISCORD_CLIENT_ID="1542793206427557979"
DISCORD_CLIENT_SECRET="T_6VWOFpU_GkDNhm-sYbAstvew1zUB8c"
